*{
    margin: 0px;
    padding: 0px;
}
.Footer{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    min-height: 0vh;
    background: #333;
    margin-top: 4vh;
}
.subcontainer{
    position: relative;
    width: 100%;
    background: rgb(0,255,255);
    /* height: 130px;
    padding: 20px 0px; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.subcontainer .socialicon{
    z-index: 1;
    /* position: relative; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 10px 0; */
    flex-wrap: wrap;
    z-index: 1;
}
.subcontainer .socialicon li:not(:last-child){
    margin-right: 10px;
}
.subcontainer .socialicon li{
    list-style-type: none;
}
.subcontainer .socialicon li a{
    font-size: 2em;
    color: black;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}
.subcontainer .socialicon li a:hover{
    transform: translateY(-10px);
}
.text{
    text-align: center;
    color: black;
    font-size: small;
}
.fa{
    font-size: x-large;
}

.subcontainer p{
    color: black;
    text-align: center;
    margin-top: 10px;
}
.subcontainer .wave{
    position: absolute;
    top: -60px;
    left: 0;
    width: 100%;
    height: 100px;
    background-image: url("./images/wave.png");
    background-size: 1000px 100px;
}
.subcontainer .wave#wave1{
    z-index: 1;
    opacity: 1;
    bottom: 0;
    animation: animateWave 4s linear infinite;
}
.subcontainer .wave#wave2{
    z-index: 1;
    opacity: 0.5;
    bottom: 10px ;
    animation: animateWave02 4s linear infinite;
} 
.subcontainer .wave#wave3{
    z-index: 1;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWave 3s linear infinite;
}
.subcontainer .wave#wave4{
    z-index: 1;
    opacity: 0.7;
    bottom: 20px ;
    animation: animateWave02 3s linear infinite;
}

@keyframes animateWave
{
    0%
    {
        background-position-x: 1000px;
    }
    100%{
        background-position-x: 0 px;
    }
}
@keyframes animateWave02
{
    0%
    {
        background-position-x: 0px;
    }
    100%{
        background-position-x: 1000px;
    }
}
/* Responsive */
@media screen and (max-width: 480px) {
   .subcontainer p{
    margin-top: 10px;
   }
   .subcontainer .socialicon li a{
    margin: 0px;
   }
}
.wave{
    padding-top: 5vh;
}
.maincontent{
    position: relative;
}
.fa{
    font-size: x-large;
}
ul{
    padding: 0px;
}

