.row{
	margin-top: 4rem;
	margin-right: 0;
	margin-left: 0;
}
@media screen and (max-width:500px){
	.row{
		margin-top: 8rem;
	}
}
.galcont {
    position: relative;
}
.image {
	display: block;
	width: 100%;
	height: auto;
}
.overlay {
    position: absolute;
    top: 0;
	right: 15px;
	left: 15px;
    height: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: black;
}
.galcont:hover .overlay {
    opacity: 0.5;
}
.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

