@import url("https://fonts.googleapis.com/css?family=Arimo|Oswald"); 


/* section:first-child{
  position: relative;
  height:100px;
} */
section .title{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top:-35.5px;
  margin-left: -91.4px;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 10px;
}
.title h1,h2{
  font-family:'Oswald', sans-serif; 
  font-size:28px; 
  font-weight:400; 
  text-transform: uppercase;
}
.title h2{
  font-size:20px;
  font-weight:100;
  letter-spacing: 5px;
  margin-left: 13px;
}
.p-one{
 background-image:  linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('https://images.unsplash.com/photo-1589923188900-85dae523342b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80'); 
}
.parallax-inner{
  position:relative;
  min-height: 500px;
  background-position: top center;
  background-attachment: fixed;
  background-size: cover;
}
.parallax-inner > h2{
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 10px;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -20.5px;
  width: 100%;
  text-align: center;
}
.content-text p{
  padding: 25px 50px 25px 50px;
  font-weight: 400;
  text-align: justify;
  line-height: 24px;
  color: black;
}
.first-letter{
  float: left;
  font-weight: 400;
  font-size: 84px;
  line-height: 64px;
  padding-top: 2px;
  padding-right: 8px;
  padding-left: 4px;
}
.line-break{
  border-bottom: 1px solid #bf2d33;
  width: 200px;
  margin: 0 auto;
}
.red{
  color: #5e5a58;
}
.darkgreen{
  color:#0d2100;
}
.green{
  color:#6b6837;
}
.skyblue{
  color: #5c9cbf;
}

/* media queries */
@media screen and (max-width:500px){
  .parallax-inner{
    min-height: 350px;
    background-size: cover;
  }
  footer{
    padding: 10px;
  }
  footer > p{
    width: 100%;
    font-size: 24px;
  }
}
