.box{
    /* position: relative; */
    justify-content: center;
    min-height: 100vh;
    color: #fff;
    text-align: center;
}
#home button{
    padding: 16px 32px;
    transition-duration: 0.4s;
    cursor: pointer;
    border: 2px solid #4CAF50;
    font-size: 16px;
}
#home button:hover {
    background-color: #4CAF50;
    color: white;
  }
#home section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 110px 100px;
}
#home .content{
    margin: auto;
    width: 50%;
}
#home .content .info h2{
    color: black;
    font-size: 55px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
    line-height: 60px;
    margin-bottom: 30px;
}
#home .content .info h2 span{
    color: #fff;
    font-size: 50px;
    font-weight: 600;
}
/* responsive */
@media(max-width:960px){
    #home .content{
        margin: 60px 50px;
    }
    #home .contact .info h2 span{
        font-weight: 40px;
        font-size: 40px;
    }
    #home .contact .info p{
        font-size: 14px;
    }
}
@media (max-width: 560px){
    #home .content .info h2{
        font-size: 25px;
        line-height: 40px;
    }
    #home .content .info h2 span{
        font-size: 30px;
        font-weight: 600;
    }
    #home .content .info p{
        font-size: 14px;
    }
}

@media(max-width:1000px){
    #home section{
        padding: 100px 50px;
    }
}
@media(max-width:600px){
    section{
        padding: 125px 30px;
    }
}
.box video{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
.box h1{
    margin-bottom: 15px;
    font-size: 65px;
    text-transform: uppercase;
    text-shadow: 0 2px 2px rgba(0,0,0,0.5);
}
.box h3{
    margin-bottom: 40px;
    font-size: 25px;
}
.box a.boxBtn{
    padding: 15px 35px;
    background: transparent;
    border-radius: 50px;
    color: #fff;
    text-transform: uppercase;
    border: 4px solid #fff;
    transition: all .5s;
}
.box a.boxBtn:hover{
    background: #fff;
    color: #000;
}
@media (max-width: 800px){
    .box h1{
        font-size: 32px;
    }
    .box h3{
        font-size: 20px;
    }
    .box a.boxBtn{
        padding: 15px 40px;
    }
    .nav li{
        font-size: 0.8rem;
    }
}
.boxBtn{
    margin-top: 10px;
}

.nav{
    flex-wrap: none;
}

